.weather-app {
  padding: 0.5rem;
}

.weather-app .logo {
  width: 50px;
}

.weather-app .form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin-inline: auto;
  margin-block: 0 2rem;
}

.weather-app .search-input {
  border-radius: 50px;
  border: none;
}

.weather-app .btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.weather-app .btn-search {
  border-radius: 50px;
  border: none;
  background-color: #0dcaf0;
  color: black;
}

.weather-app .card {
  text-align: center;
  max-width: 50rem;
  margin-inline: auto;
  border-radius: 50px;
  border: none;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weather-app .temprature {
  font-size: 5rem;
}

.weather-app .location {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.weather-app .humidity-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.weather-app .wind-div,
.weather-app .humidity-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .weather-app .btn-search span {
    display: none;
  }
}
